<div class="main-footer">
  <footer class="">
    <div
      class="d-flex flex-row  align-items-center footer-items"
      style="margin: 30px 50px 12px 50px"
    >
      <div
        class="container pt-3 ms-6 p d-grid gap-3 mt-5"
        style="margin-left: 150px"
      >
        <div class="row">
          <div class="col ftr-txt">PRIVACY POLICY</div>
          <div class="col ftr-txt">CORPORATE WEBSITE</div>
        </div>
        <div class="row">
          <div class="col ftr-txt">FEEDBACK</div>
          <div class="col ftr-txt">FAQ</div>
        </div>
        <div class="row">
          <div class="col ftr-txt">TERMS & CONDITION</div>
          <div class="col ftr-txt">BUG BOUNTY</div>
        </div>
      </div>

      <hr
        size="4"
        width="280px"
        style="
          color: rgb(255, 255, 255);
          margin-top: 40px;
          transform: rotate(90deg);
        "
      />

      <div
        class="container pt-3 d-grid gap-3"
        style="margin-top: px; margin-right: 150px"
      >
        <div class="row">
          <div class="col-md-12 text-center fs-4 text-white">
            Are you lovin' it?
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-md-6 text-center text-white">FOLLOW US</div>
          <div class="col-6 col-md-6 text-center text-white">DOWNLOAD APP</div>
        </div>

        <div class="row d-flex">
          <div class="col-2 text-center ftr-txt fs-6">
            <i class="fab fa-facebook-f"></i>
          </div>
          <div class="col-2 text-center fs-6 ftr-txt">
            <i class="fab fa-twitter"></i>
          </div>
          <div class="col-2 text-center fs-6 ftr-txt">
            <i class="fab fa-instagram"></i>
          </div>
          <div class="col-3 text-center fs-6 ftr-txt"><i class="fab fa-apple"></i></div>
          <div class="col-3 text-center fs-6 ftr-txt">
            <i class="fab fa-android"></i>
          </div>
        </div>
      </div>
    </div>

    <!-- down footer -->

    <hr
      size="4"
      width="99%"
      style="color: rgb(255, 255, 255); margin-top: 46px"
    />
    <div class="d-flex justify-content-around align-items-center">
      <div class="text-light" style="font-size: 14px">
        Copyright 2017 H.R.P.L
      </div>
      <div>
        <img
          alt="download"
          class="ps-3"
          src="../../../assets/images/sisa.png"
        />
      </div>
    </div>
  </footer>
</div>


















<!-- 
<img
  alt="Profile Image"
  class="customerImage img-circle success"
  ng-src="https://images.mcdelivery.co.in/hardcastle-restaurants-pvt-ltd/image/upload/NewWebsiteResource/assets/img/boy.png"
  lazy-img="https://images.mcdelivery.co.in/hardcastle-restaurants-pvt-ltd/image/upload/NewWebsiteResource/assets/img/boy.png"
  src="https://images.mcdelivery.co.in/hardcastle-restaurants-pvt-ltd/image/upload/NewWebsiteResource/assets/img/boy.png"
/> -->









