<!-- <div class="row">

  <div class="col col-lg-auto">
      
    <div class=" mt-5 "> -->
      <!-- <div class="owl-carousel owl-theme">
          <div class="bg-info">
              <img src="images/Banner160.jpg" class="card-img-top" alt="">
          </div>
    
          <div class="ms-2 me-2">
              <img src="images/Banner166.jpg" class="card-img-top" alt="">
          </div>
    
          <div class="ms-2 me-2">
              <img src="images/Banner208.png" class="card-img-top" alt="">
          </div>
    
          <div class="ms-2 me-2">
              <img src="images/Banner206.jpg" class="card-img-top" alt="">
          </div>
    
          <div class="ms-2 me-2">
              <img src="images/Banner239.jpg" class="card-img-top" alt="">
          </div>
    
          <div class="ms-2 me-2">
              <img src="images/Banner240.jpg" class="card-img-top" alt="">
          </div>
    
          <div class="ms-2 me-2">
              <img src="images/Banner243.jpg" class="card-img-top" alt="">
          </div>
      
    
    
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
    
        </div>   -->
      <!-- </div>
    
    </div>
 
    
</div> -->


<!-- <owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>Slide 1</ng-template>  
  <ng-template carouselSlide>Slide 2</ng-template>  
  <ng-template carouselSlide>Slide 3</ng-template> 


</owl-carousel-o> -->


<!-- 
<div class="row  ">
    <div class=" mt-2 slider">

<owl-carousel-o [options]="customOptions" class="gap-0">


  <ng-template carouselSlide>            
    <img src="../../assets/images/Banner160.jpg" class="card-img-top " alt="">
  </ng-template>
  <ng-template carouselSlide>            
    <img src="../../assets/images/Banner166.jpg" class="card-img-top" alt="">
  </ng-template>
  <ng-template carouselSlide>            
    <img src="../../assets/images/Banner206.jpg" class="card-img-top" alt="">
  </ng-template>
  <ng-template carouselSlide>            
    <img src="../../assets/images/Banner208.png" class="card-img-top" alt="">
  </ng-template>
  <ng-template carouselSlide>            
    <img src="../../assets/images/Banner239.jpg" class="card-img-top" alt="">
  </ng-template>
  <ng-template carouselSlide>            
    <img src="../../assets/images/Banner240.jpg" class="card-img-top" alt="">
  </ng-template>
  <ng-template carouselSlide>            
    <img src="../../assets/images/Banner243.jpg" class="card-img-top" alt="">
  </ng-template>
</owl-carousel-o>
  </div>
    
</div> -->






<section class="slider">
  <div class="containers">
  <div class="mt-2">
  <owl-carousel-o [options]="customOptions" class="gap-0">


<ng-template  carouselSlide *ngFor="let i of GridCardArray">            
  <img src="{{i.img}}" class="card-img-top ps-3" alt="">
</ng-template>

</owl-carousel-o>
</div>
</div>
</section>




