<div class="card mt-4" style="width: 18rem">
  <div class="card-body bg-light">
    <h4 class="card-title fw-bolder">Cart Empty</h4>
    <img
      src="../../assets/images/Empty_cart.svg"
      style="height: 180px; width: 160px"
      class="card-img-top ms-5 ms-5"
      alt="..."
    />
    <p class="card-text pt-3"> 
      Opps! Your cart is empty. You haven't yet placed any order yet.
    </p>
  </div>
</div>
<div>

<!-- 
  <ul *ngFor="let s of allProducts">
    <li>Id:{{s.name}}  name:{{s.productDescription}} | <a [routerLink]="['/students/delete',s.id]">Delete</a>|
        <a [routerLink]="['/students/view',s.id]">view</a>
      |<a [routerLink]="['/students/edit',s.id]">Edit</a> </li>
</ul>  -->
</div>
<!-- images/Empty_cart.svg -->