<footer class="bg-light d-flex text" style="height: 78px;font-family: 'Open Sans', sans-serif;font-size:x-small; padding-left: 7px;">
    <!-- <div  class=" d-flex  col-lg-8 col-md-6 pl-0 "> -->
      <div  class="menu-options d-flex text-secondary align-self-center col-lg-8 col-md-6 pl-0" >
        <div  class="ps-3" style=" padding-left: 16px;"> Privacy Policy </div>
        <div  class="ps-3" > Feedback </div>
        <div  class="ps-3" > Terms &amp; Conditions </div>
        <div  class="ps-3" > Corporate Website </div>
        <div  class="ps-3" > Faq </div>
        <div  class="ps-3" > Bug Bounty </div>
        <div  class="ps-3 " > Site Map </div>
      </div>
    <!-- </div> -->
    <div  class=" justify-content-between no-wrap d-flex text-font white-space-wrap ps-5 pr-0 col-lg-4 col-md-6">
      <div  class="download align-self-center">
        <div  class="text-secondary"> Follow us </div>
        <a href="https://www.facebook.com/McDonaldsIndia/?fref=ts"><img  alt="download" class="ps-0" loading="lazy"
           src="https://images.mcdelivery.co.in/hardcastle-restaurants-pvt-ltd/image/upload/v1591261933/NewWebsiteResource2020/Assets/Img/Facebook.svg" 
        ></a>
        <a href="https://twitter.com/mcdonaldsindia"><img  alt="download" class=" ps-3" loading="lazy" 
          src="https://images.mcdelivery.co.in/hardcastle-restaurants-pvt-ltd/image/upload/v1591261933/NewWebsiteResource2020/Assets/Img/Twitter.svg"></a>
        <a href="https://www.instagram.com/mcdonalds_india/"><img  alt="download" class=" ps-3" loading="lazy"
           src="https://images.mcdelivery.co.in/hardcastle-restaurants-pvt-ltd/image/upload/v1591261933/NewWebsiteResource2020/Assets/Img/Instagram.svg"></a>
      </div>
      <div  class="pe-4 text-secondary align-self-center" style="font-size: 11px;font-family: 'Open Sans', sans-serif;"> Copyright 2021 H.R.P.L </div>
    </div>
    
  </footer>
  