<nav class="navbar navbar-expand-lg navbar-light text-light bg-dark">
    <div class="container-fluid">
        <a href="#" class="navbar-brand text-light">DASHBOARD</a>
        <div class="d-flex flex-row">
            <button class="btn btn-success"  data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="addButton()">Add Products</button>
            <button class="btn btn-success ms-3"  data-bs-toggle="modal" data-bs-target="#exampleModalOffer" (click)="addOfferButton()">Add Offers</button>
            <button class="btn btn-success ms-3" (click)="getProducts()">See Products</button>
            <button class="btn btn-success ms-3" (click)="getOffers()">See Offers</button>
        </div>
    </div>
</nav>

<div *ngIf= "showProduct">
  <!-- showProduct:boolean=false;
  showOffer:boolean=false;
  closeWindowButton:boolean=false; -->

  
  <!-- <div class="search-container">
    <div class="searchProduct">
      <input type="text" name="search" [(ngModel)]="searchProduct" placeholder="search" >
    </div>
  </div> -->
  <div class="container mt-3">
    <div class="d-flex justify-content-around">
      <div class="col">
        <div><button class="btn btn-success ms-3" (click)="CloseWin()">Close</button></div>
      </div>
      <div class="col">
        <form class="d-flex">
          <input style="width: 30%;" class="form-control me-2" type="search" [(ngModel)]="searchProduct" placeholder="Search" aria-label="Search">
        </form>
      </div>
      </div>
  </div>



  

<table class="table mt-3">
    <thead>
        <tr>
        </tr>
    </thead>
        <th scope="col" class="text-center">Name</th>
        <th scope="col" class="text-center">Image</th>
        <th scope="col" class="text-center">Description</th>
        <th scope="col" class="text-center">Category</th>
        <th scope="col" class="text-center">Calorie</th>
        <th scope="col" class="text-center">Price</th>
        <th scope="col" class="text-center">Action</th>
    <tbody>
        <tr *ngFor="let row of productData | filter:searchProduct">
            <td>{{row.name}}</td>
            <td>
              <img id="img_1" src="{{row.productImage}}" class="card-img-top ms-3 mt-2 " style="height: 90px;width:110px;" alt="...">
            </td>
            <td>{{row.productDescription}}</td>
            <td>
              <img id="img_cat_1" src="{{row.categoryImage}}" alt="">
            </td>
            <td>{{row.calories}}</td>
            <td>{{row.price}}</td>
            <td >
              <div class="d-flex flex-row">
                
                <div><button class="btn btn-dark" (click)="editProduct(row)" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button></div>
                <div><button class="btn btn-danger mx-3" (click)="deleteProduct(row)">Delete</button></div>
              </div>
            </td>
        </tr>
    </tbody>
</table>
</div>





<div *ngIf= "showOffers">
  <!-- showProduct:boolean=false;
  showOffer:boolean=false;
  closeWindowButton:boolean=false; -->
  <div><button class="btn btn-success ms-3" (click)="CloseWin()">Close</button></div>
  
  <div class="search-container">
    <div class="searchOffer">
      <input type="text" name="search" [(ngModel)]="searchOffer" placeholder="search" >
    </div>
  </div>
<table class="table mt-3">
    <thead>
        <tr>
        </tr>
    </thead>
        <th scope="col" class="text-center">Name</th>
        <th scope="col" class="text-center">Desc1</th>
        <th scope="col" class="text-center">Desc2</th>
        <th scope="col" class="text-center">Offfer code</th>
        <th scope="col" class="text-center">Action</th>
    <tbody>
        <tr *ngFor="let row of offerdata">
            <td>{{row.name}}</td>
            <td>{{row.desc1}}</td>
            <td>{{row.desc2}}</td>
            <td>{{row.Offer_code}}</td>
            <td >
              <div class="d-flex flex-row">
                
                <div><button class="btn btn-dark" (click)="editOffers(row)" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button></div>
                <div><button class="btn btn-danger mx-3" (click)="deleteOffers(row)">Delete</button></div>
              </div>
            </td>
        </tr>
    </tbody>
</table>
</div>




<!-- modal -->
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button> -->
  
  <!--Product Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Product Detail</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="product_Form" >
                <div class="mb-3">
                  <label for="name" class="form-label">Name</label>
                  <input type="text" formControlName="name" class="form-control" id="name">
                </div>
                <div class="mb-3">
                    <label for="desc" class="form-label">Desc</label>
                    <input type="text" formControlName="desc" class="form-control" id="desc">
                  </div>
                  <div class="mb-3">
                    <label for="image" class="form-label">Product Image</label>
                    <input type="text" formControlName="productImage" class="form-control" id="image">
                  </div>

                  <div class="form-group">
                    <label for="gender">Type:</label>
                    <div class="d-flex flex-row">
                      <div class="me-2">
                      <input id="male" type="radio" value="veg" [(ngModel)]="cat" (change)="showcat($event)" name="category" formControlName="category"></div>
                      <div class="me-2"><label for="male">Veg</label></div>
                      <div class="me-1"><img id="img_cat_1" src="https://images.mcdelivery.co.in/hardcastle-restaurants-pvt-ltd/image/upload/v1591261933/NewWebsiteResource2020/Assets/Img/Veg.svg" alt="">
                      </div>
                   </div>
           
                   <div class="d-flex flex-row">
                    <div class="me-2">
                    <input id="male" type="radio" value="Non-veg" [(ngModel)]="cat" (change)="showcat($event)" name="category" formControlName="category"></div>
                    <div class="me-2"><label for="male">Non-veg</label></div>
                    <div class="me-1"><img id="img_cat_1" src="https://images.mcdelivery.co.in/hardcastle-restaurants-pvt-ltd/image/upload/v1591261933/NewWebsiteResource2020/Assets/Img/nonveg.svg" alt="">
                    </div>
                 </div>
                       
                    <div *ngIf="f['category'].touched && f['category'].invalid" class="alert alert-danger">
                        <div *ngIf=" f['category'].errors && f['category'].errors['required']">category is required.</div>
                    </div>
                </div>

                  <!-- <div class="mb-3">
                    <label for="category" class="form-label">category</label>
                    <input type="text" formControlName="category" class="form-control" id="category">
                  </div> -->

                  <div class="mb-3">
                    <label for="category_id" class="form-label">category_id</label>
                    <input type="number" formControlName="category_id" class="form-control" id="category_id">
                  </div>
                  <div class="mb-3">
                    <label for="Product_Type" class="form-label">Product_Type</label>
                    <input type="number" formControlName="Product_Type" class="form-control" id="Product_Type">
                  </div>
                  <div class="mb-3">
                    <label for="calorie" class="form-label">calorie</label>
                    <input type="number" formControlName="calorie" class="form-control" id="calorie">
                  </div>
                  <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" formControlName="price" class="form-control" id="price">
                  </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="close" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="postProduct()" *ngIf="showAddButton">Add</button>
          <button type="button" class="btn btn-primary" (click)="updateProduct()" *ngIf="showUpdateButton">Update</button>
        </div>
      </div>
    </div>
  </div>




    
  <!--Offer Modal -->
  <div class="modal fade" id="exampleModalOffer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Offer Detail</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="offer_Form" >
                <div class="mb-3">
                  <label for="name" class="form-label">Name</label>
                  <input type="text" formControlName="name" class="form-control" id="name">
                </div>
                <div class="mb-3">
                    <label for="desc" class="form-label">Code</label>
                    <input type="text" formControlName="Offer_code" class="form-control" id="code">
                  </div>
                  <div class="mb-3">
                    <label for="desc1" class="form-label">Description1</label>
                    <input type="text" formControlName="desc1" class="form-control" id="desc1">
                  </div>
                  <div class="mb-3">
                    <label for="desc2" class="form-label">Description2</label>
                    <input type="text" formControlName="desc2" class="form-control" id="desc2">
                  </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="close" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="postOffers()" *ngIf="OffershowAddButton">Add</button>
          <button type="button" class="btn btn-primary" (click)="updateOffers()" *ngIf="OffershowUpdateButton">Update</button>
        </div>
      </div>
    </div>
  </div>




