<p>orders works!</p>


<div class="profile-card mx-auto" height="70" style="background:url(../../../assets/images/bg-img2.jpg);width: 52rem;
background-repeat: no-repeat;background-size: cover;
opacity: 0.7;
">
  
<div class="d-flex flex-column bd-highlight mb-3 d-grid gap-3 mx-auto" style="width:18rem;">
  <div class="row">
    <div class="col text-white " style="margin-left: 490px;">Logout</div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12 text-center" ><img style="width: 6rem;" src="../../../assets/images/boy.png" alt=""></div>
  </div>
  <div class="row text-white">
    <div class="col-md-12 col-sm-12  col-lg-12 text-center text-white fw-bold fs-5 ">Benjamin Paward</div>
  </div>
 
  <div class="row text-white d-flex justify-content-center" style="font-size:15px;">
    <div class="col-2 col-md-2 pe-2 text-center"><i class="fas fa-phone-volume" style="transform: rotate(-45deg);"></i>  </div>
    <div class="col-3 col-md-3 ps-0 text-center ">89483944834</div>
    <div class="col-2 col-md-2 ps-4 text-center ">|</div>
    <div class="col-2 col-md-2  pe-2 text-center"><i class="far fa-envelope"></i></div>
    <div class="col-3 col-md-3 ps-0 text-center ">usudsb@hamil.xpm</div>
  </div>
         
  <div class="row text-warning fw">
     <div class="col-12 col-md-12 text-center fs-6">EDIT INFO</div>
  </div> 
 
</div>
</div>

