<p>cart works!</p>

<!-- clone -->
<div class="cart-container" style="padding-bottom: 49px">
  <div class="d-flex">
    <!----><img
      alt="back"
      class="back-icon"
      loading="lazy"
      src="https://images.mcdelivery.co.in/hardcastle-restaurants-pvt-ltd/image/upload/v1591261953/NewWebsiteResource2020/Assets/Img/back.svg"
      style="cursor: pointer"
    />
    <div class="d-flex cart-header">Your Order Details</div>
  </div>
  <!---->
  <div class="row cart-web">
    <div class="col">
      <div class="cart-items">
        <div class="cart-items-header d-flex">
          <div class="heading">Your Order</div>
          <a class="clear-all">clear all</a>
        </div>
        <div class="cart-section">
          <!---->
          <div class="each-cart-item" style="margin-bottom: 20px">
            <div class="d-flex" style="opacity: 1">
              <div class="d-flex details">
                <!----><img
                  alt="img"
                  class="preference"
                  loading="lazy"
                  src="https://images.mcdelivery.co.in/hardcastle-restaurants-pvt-ltd/image/upload/v1591261951/NewWebsiteResource2020/Assets/Img/Veg.svg"
                /><!---->
                <div>
                  <div class="d-flex">
                    <h4 class="item-title">
                      Triple Cheese American Veg Burger
                    </h4>
                    <!---->
                  </div>
                  <p></p>
                </div>
              </div>
              <div class="d-flex">
                <!---->
                <div class="cart-stepper d-flex">
                  <button class="minus">-</button
                  ><input
                    class="quantity ng-untouched ng-pristine ng-valid"
                    type="text"
                  /><button class="plus">+</button>
                </div>
                <!---->
                <div class="item-price">₹ 191</div>
              </div>
            </div>
            <!---->
            <div class="d-flex">
              <!---->
              <div class="change-option space-left"><span>Customize</span></div>
              <!---->
            </div>
          </div>
        </div>
      </div>
      <!---->
      <div class="cart-items recom-items">
        <div class="heading">Recommendations for you</div>
        <!---->
        <div class="recommendation">
          <!---->
          <div class="d-flex">
            <div class="d-flex details">
              <!----><img
                alt="img"
                class="preference"
                loading="lazy"
                src="https://images.mcdelivery.co.in/hardcastle-restaurants-pvt-ltd/image/upload/v1591261951/NewWebsiteResource2020/Assets/Img/Veg.svg"
              /><!---->
              <div>
                <h4 class="item-title">Cheesy Nugget - Veg Bites - 9 pc</h4>
              </div>
            </div>
            <div class="d-flex">
              <p
                class="align-self-center mb-0"
                itemprop="offers"
                itemscope=""
                itemtype="http://schema.org/Offer"
              >
                <!----><span class="price pr-1" itemprop="price"
                  ><span>₹</span>116</span
                >
              </p>
              <div class="customizable-section">
                <button class="btn primary-btn cursor-pointer">Add</button>
              </div>
            </div>
          </div>
        </div>
        <div class="recommendation">
          <!---->
          <div class="d-flex">
            <div class="d-flex details">
              <!----><!----><img
                alt="img"
                class="preference"
                loading="lazy"
                src="https://images.mcdelivery.co.in/hardcastle-restaurants-pvt-ltd/image/upload/v1591261933/NewWebsiteResource2020/Assets/Img/nonveg.svg"
              />
              <div><h4 class="item-title">Chicken McNuggets (4 Pcs)</h4></div>
            </div>
            <div class="d-flex">
              <p
                class="align-self-center mb-0"
                itemprop="offers"
                itemscope=""
                itemtype="http://schema.org/Offer"
              >
                <!----><span class="price pr-1" itemprop="price"
                  ><span>₹</span>72</span
                >
              </p>
              <div class="customizable-section">
                <button class="btn primary-btn cursor-pointer">Add</button>
              </div>
            </div>
          </div>
        </div>
        <!----><!---->
      </div>
    </div>
    <div class="col" style="margin-right: 40px">
      <!----><!---->
      <div class="promotion">
        <div class="promotion">
          <!---->
          <div class="Apply">
            <img
              alt="img"
              class="promoImg"
              loading="lazy"
              src="https://images.mcdelivery.co.in/hardcastle-restaurants-pvt-ltd/image/upload/v1591261951/NewWebsiteResource2020/Assets/Img/Code_1x.svg"
            /><span> Apply Promocode </span>
          </div>
          <!----><!----><!---->
        </div>
      </div>
      <!---->
      <div class="donation-container">
        <!---->
        <div class="donation">
          <div class="donation-heading">
            <img
              alt="donation"
              loading="lazy"
              src="https://images.mcdelivery.co.in/hardcastle-restaurants-pvt-ltd/image/upload/v1591261953/NewWebsiteResource2020/Assets/Img/donation.svg"
            />
            <h3>Donate for Ronald Mcdonald House charities</h3>
            <img
              alt="info"
              class="info"
              loading="lazy"
              src="https://images.mcdelivery.co.in/hardcastle-restaurants-pvt-ltd/image/upload/v1591261953/NewWebsiteResource2020/Assets/Img/round-info-button.svg"
            />
          </div>
          <p class="description">
            Your support will go a long way in keeping unwell children and their
            families together.
          </p>
          <div class="denomination">
            <!---->
            <div>
              <div
                class="denomination-card"
                style="background-color: rgb(255, 188, 15)"
              >
                <!----><span> ₹ 0</span>
              </div>
              <!----><span class="default-card">Mostly donated</span>
            </div>
            <div>
              <div
                class="denomination-card"
                style="background-color: rgb(255, 255, 255)"
              >
                <!----><span>+</span><span> ₹ 1</span>
              </div>
              <!---->
            </div>
            <div>
              <div
                class="denomination-card"
                style="background-color: rgb(255, 255, 255)"
              >
                <!----><span>+</span><span> ₹ 2</span>
              </div>
              <!---->
            </div>
            <div>
              <div
                class="denomination-card"
                style="background-color: rgb(255, 255, 255)"
              >
                <!----><span>+</span><span> ₹ 5</span>
              </div>
              <!---->
            </div>
            <div>
              <div
                class="denomination-card"
                style="background-color: rgb(255, 255, 255)"
              >
                <!----><span>+</span><span> ₹ 10</span>
              </div>
              <!---->
            </div>
          </div>
        </div>
        <div class="specialInstruct">
          <img
            alt="info"
            class="info"
            loading="lazy"
            src="https://images.mcdelivery.co.in/hardcastle-restaurants-pvt-ltd/image/upload/v1591261953/NewWebsiteResource2020/Assets/Img/special-instruction.svg"
          /><textarea
            placeholder="Delivery Instructions"
            class="ng-untouched ng-pristine ng-valid"
          ></textarea>
        </div>
      </div>
      <div class="bill">
        <div class="accordion">
          <span class="">Total Payable </span>
          <div>
            <span class="totalPayTxt">₹ 236</span
            ><img
              alt="img"
              loading="lazy"
              src="https://images.mcdelivery.co.in/hardcastle-restaurants-pvt-ltd/image/upload/v1591261941/NewWebsiteResource2020/Assets/Img/Path_side_arrow.svg"
              class="down-arrow"
            />
          </div>
        </div>
        <!---->
      </div>
      <div class="saving-container"><!----></div>
    </div>
  </div>
  <!---->
  <div>
    <!----><!----><!---->
    <div>
      <!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!---->
    </div>
    <div>
      <!----><!----><!---->
      <div class="cart-items">
        <div class="cart-items-header d-flex">
          <div class="heading">Your Order</div>
          <a class="clear-all">clear all</a>
        </div>
        <!---->
        <div class="each-cart-item" style="margin-bottom: 20px">
          <div class="d-flex" style="opacity: 1">
            <div class="d-flex details">
              <!----><img
                alt="img"
                class="preference"
                loading="lazy"
                src="https://images.mcdelivery.co.in/hardcastle-restaurants-pvt-ltd/image/upload/v1591261951/NewWebsiteResource2020/Assets/Img/Veg.svg"
              /><!---->
              <div>
                <div class="d-flex">
                  <h4 class="item-title">Triple Cheese American Veg Burger</h4>
                  <!---->
                </div>
                <p></p>
              </div>
            </div>
            <div class="d-flex">
              <!---->
              <div class="cart-stepper d-flex">
                <button class="minus">-</button><span class="quantity">1</span
                ><button class="plus">+</button>
              </div>
              <!---->
              <div class="item-price">₹ 191</div>
            </div>
          </div>
          <!---->
          <div class="d-flex customise-link">
            <!---->
            <div class="change-option space-left"><span>Customize</span></div>
            <!---->
          </div>
        </div>
      </div>
      <!----><!----><!----><!----><!----><!----><!----><!----><!---->
    </div>
    <div>
      <!----><!----><!----><!----><!---->
      <div class="cart-items recom-items">
        <div class="heading">Recommendations for you</div>
        <!---->
        <div class="recommendation">
          <!---->
          <div class="d-flex">
            <div class="d-flex details">
              <!----><img
                alt="img"
                class="preference"
                loading="lazy"
                src="https://images.mcdelivery.co.in/hardcastle-restaurants-pvt-ltd/image/upload/v1591261951/NewWebsiteResource2020/Assets/Img/Veg.svg"
              /><!---->
              <div>
                <h4 class="item-title">Cheesy Nugget - Veg Bites - 9 pc</h4>
              </div>
            </div>
            <div class="d-flex">
              <p
                class="align-self-center mb-0"
                itemprop="offers"
                itemscope=""
                itemtype="http://schema.org/Offer"
              >
                <!----><span class="price pr-1" itemprop="price"
                  ><span>₹</span>116</span
                >
              </p>
              <div class="customizable-section">
                <button class="btn primary-btn cursor-pointer">Add</button>
              </div>
            </div>
          </div>
        </div>
        <div class="recommendation">
          <!---->
          <div class="d-flex">
            <div class="d-flex details">
              <!----><!----><img
                alt="img"
                class="preference"
                loading="lazy"
                src="https://images.mcdelivery.co.in/hardcastle-restaurants-pvt-ltd/image/upload/v1591261933/NewWebsiteResource2020/Assets/Img/nonveg.svg"
              />
              <div><h4 class="item-title">Chicken McNuggets (4 Pcs)</h4></div>
            </div>
            <div class="d-flex">
              <p
                class="align-self-center mb-0"
                itemprop="offers"
                itemscope=""
                itemtype="http://schema.org/Offer"
              >
                <!----><span class="price pr-1" itemprop="price"
                  ><span>₹</span>72</span
                >
              </p>
              <div class="customizable-section">
                <button class="btn primary-btn cursor-pointer">Add</button>
              </div>
            </div>
          </div>
        </div>
        <!----><!---->
      </div>
      <!----><!----><!----><!----><!----><!----><!----><!----><!---->
    </div>
    <div>
      <!----><!----><!----><!----><!---->
      <div class="promotion">
        <!---->
        <div class="Apply">
          <img
            alt="img"
            class="promoImg"
            loading="lazy"
            src="https://images.mcdelivery.co.in/hardcastle-restaurants-pvt-ltd/image/upload/v1591261951/NewWebsiteResource2020/Assets/Img/Code_1x.svg"
          /><span> Apply Promocode </span>
        </div>
        <!----><!----><!---->
      </div>
      <!----><!----><!----><!----><!----><!----><!---->
    </div>
    <div>
      <!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!---->
    </div>
    <div>
      <!----><!----><!----><!----><!----><!----><!----><!---->
      <div class="donation">
        <div class="donation-heading">
          <img
            alt="donation"
            loading="lazy"
            src="https://images.mcdelivery.co.in/hardcastle-restaurants-pvt-ltd/image/upload/v1591261953/NewWebsiteResource2020/Assets/Img/donation.svg"
          />
          <h3>Donate for Ronald Mcdonald House charities</h3>
          <img
            alt="info"
            class="info"
            loading="lazy"
            src="https://images.mcdelivery.co.in/hardcastle-restaurants-pvt-ltd/image/upload/v1591261953/NewWebsiteResource2020/Assets/Img/round-info-button.svg"
          />
        </div>
        <p class="description">
          Your support will go a long way in keeping unwell children and their
          families together.
        </p>
        <div class="denomination">
          <!---->
          <div>
            <div
              class="denomination-card"
              style="background-color: rgb(255, 188, 15)"
            >
              <!----><span> ₹ 0</span>
            </div>
            <!----><span class="default-card">Mostly donated</span>
          </div>
          <div>
            <div
              class="denomination-card"
              style="background-color: rgb(255, 255, 255)"
            >
              <!----><span>+</span><span> ₹ 1</span>
            </div>
            <!---->
          </div>
          <div>
            <div
              class="denomination-card"
              style="background-color: rgb(255, 255, 255)"
            >
              <!----><span>+</span><span> ₹ 2</span>
            </div>
            <!---->
          </div>
          <div>
            <div
              class="denomination-card"
              style="background-color: rgb(255, 255, 255)"
            >
              <!----><span>+</span><span> ₹ 5</span>
            </div>
            <!---->
          </div>
          <div>
            <div
              class="denomination-card"
              style="background-color: rgb(255, 255, 255)"
            >
              <!----><span>+</span><span> ₹ 10</span>
            </div>
            <!---->
          </div>
        </div>
      </div>
      <!----><!----><!----><!----><!----><!---->
    </div>
    <div>
      <!----><!----><!----><!----><!----><!----><!----><!---->
      <div class="specialInstruct">
        <img
          alt="info"
          class="info"
          loading="lazy"
          src="https://images.mcdelivery.co.in/hardcastle-restaurants-pvt-ltd/image/upload/v1591261953/NewWebsiteResource2020/Assets/Img/special-instruction.svg"
        /><textarea
          placeholder="Delivery Instructions"
          class="ng-untouched ng-pristine ng-valid"
        ></textarea>
      </div>
      <!----><!----><!----><!---->
    </div>
    <div>
      <!----><!----><!----><!----><!----><!----><!----><!----><!---->
      <div class="bill class-total">
        <div class="accordion">
          <span class="">Total Payable </span>
          <div>
            <span class="totalPayTxt">₹ 236</span
            ><img
              alt="img"
              loading="lazy"
              src="https://images.mcdelivery.co.in/hardcastle-restaurants-pvt-ltd/image/upload/v1591261941/NewWebsiteResource2020/Assets/Img/Path_side_arrow.svg"
              class="down-arrow"
            />
          </div>
        </div>
        <!---->
      </div>
      <!----><!----><!---->
    </div>
    <div>
      <!----><!----><!----><!----><!----><!----><!----><!----><!----><!---->
      <div class="saving-container"><!----></div>
      <!----><!---->
    </div>
    <div>
      <!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!---->
    </div>
    <!---->
  </div>
</div>
