
                
    <ul id="category_list" class="list-unstyled lh-lg text-secondary">
        <a  class="text-secondary" href=""><li>New Launches</li></a>
        <a  class="text-secondary" href=""><li>Trending</li></a>
        <a  class="text-secondary" href=""><li>Deals</li></a>
        <a   class="text-secondary" href=""><li>Gourmet Burgers</li></a>
        <a  class="text-secondary" href=""><li>Gourmet Burger Meal</li></a>
        <a  class="text-secondary" href=""><li>McSavers</li></a>
        <a  class="text-secondary" href=""><li>Match Day Combos</li></a>
        <a  class="text-secondary" href=""><li>Festive Veg Combos</li></a>
        <a  class="text-secondary" href=""><li>Recommended</li></a>
        <a  class="text-secondary" href=""><li>Stay Home Combos</li></a>
        <a  class="text-secondary" href=""><li>Meals</li></a>
        <a  class="text-secondary" href=""><li>Happy Meals</li></a>
        <a  class="text-secondary" href=""><li>Family Meals</li></a>
        <a  class="text-secondary" href=""><li>Burger & Wraps</li></a>
        <a  class="text-secondary" href=""><li>Fries & Sides</li></a>
        <a  class="text-secondary" href=""><li>Desserts</li></a>
        <a  class="text-secondary" href=""><li>Beverages</li></a>
        <a  class="text-secondary" href=""><li>Keep It Hot </li></a>
        <a  class="text-secondary" href=""><li>Keep It Chill</li></a>
        <a  class="text-secondary" href=""><li>Grab a Bite</li></a>
      </ul>