<div class="rectangle clearfix" id="rectangle2576">
  <div class="couponContent">
    <div class="">
      <!----><br />
      <div class="couponTitle" id="couponTitle2576">
        <span class="title">MCDIB</span>
      </div>
    </div>
    <div class="PromotionName" id="PromotionName2576">
      Get a Free Masala Kadak chai or Turmeric latte on order above Rs.99
    </div>
    <!---->
    <div class="PromoValidityMessage" id="tnc2576">
      <div class="tnc" id="PromoValidityMessage2576">
        <ul>
          <li>Valid on McDelivery orders only</li>
          <li>Offer Valid on App, Web &amp; Msite</li>
          <li>Offer applicable on minimum spends of Rs.99</li>
          <li>Offer applicable on regular and advance orders</li>
        </ul>
      </div>
    </div>
    <!---->
    <div class="less" id="less2576">-Less</div>
    <!---->
    <div class="afterClip" id="afterClip2576">+More</div>
  </div>
  <div class="margin-coupon">
    <!---->
    <div class="d-flex right apply" id="apply2576">
      <span class="validText"
        >Min Cart Value excluding delivery fees and taxes ₹ 99.00</span
      ><!---->
      <div>
        <button class="btn primary-btn cursor-pointer" id="applyText2576">
          Apply
        </button>
      </div>
    </div>
    <!---->
  </div>
</div>
