.list1{

height: 700px;
}


body::-webkit-scrollbar 
{
 width: 15px;
}
body::-webkit-scrollbar-track 
{
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 border-radius:10px;
}
body::-webkit-scrollbar-thumb
{
 background-color: orange;
 border-radius:10px;
}
body::-webkit-scrollbar-thumb:hover {
    background: #c51e1e; 
}











