
<nav
  class="navbar navbar-expand-sm navbar-dark col-12 sticky-top pe-4"
style=" position: fixed;top: 0;">
  <div class="container-fluid d-flex justify-content-center homeimg">
    <div class="d-flex flex-row" >
      <a class="navbar-brand" 
      ><img class="pb-0 pt-0 mt-0 mb-0"
          src="../../../../assets/images/Mcd_logo_web.png"
          height="78"
          alt=""
      /></a>
    </div>
              
    <div class="d-flex justify-content-between " style="padding-left: 115px;">
      <div class="ms-3 hov">ORDER</div>
      <div class="ms-3 dash">|</div>
      <div class="ms-3 hov">ACCOUNT</div>
      <div class="ms-3 dash">|</div>
      <div class="ms-3 hov">HELP CENTER</div>
      <div class="ms-3 dash">|</div>
      <div class="ms-3 hov">OFFERS</div>
      <div class="ms-3 dash">|</div>
      <div class="ms-3 hov">CART</div>
      <div class="ms-3 dash">|</div>
      <div class="ms-3 hov text-warning" (click)="onLogOut()">Logout</div>
    </div>
  </div>
</nav>



