.navbar{
    background-color: rgba(34, 16, 16, 0.952);
    height: 78px;
}
.homeimg{
  padding-right: 100px;
}
.hov{
    display: inline-block;
    position: relative;
    color: #4e460b;
  }
  .dash{
    display: inline-block;
    position: relative;
    color: #ffe926;

  }
  a:hover{
    display: inline-block;
    position: relative;
    color: #ffe926;
  }
a{
  text-decoration: none;
  color: #4e460b;
}