<div class="conta">
  <div class="offcanvas-header">
    <h1 class="offcanvas-title d-none d-sm-block" id="offcanvas"></h1>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body px-0">
    <div class=""></div>
    <div class="row g-4 py-2 mx-2 overflow-visible vh-100">
      <h1 class="ms-3 mb-4 fw-bolder">Select Order Mode</h1>
      <div class="col mx-3">
        <div
          class="card border rounded-2 d-flex flex-row justify-content-around"
        >
          <img
            id="img_1"
            src="../../assets/images/Delivery.png"
            class="card-img-top m-5"
            style="height: 70px; width: 96px"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title fw-bolder" id="title_1">DELIVERY</h5>
            <p class="card-text h4 fw-light">
              Enjoy safe and contactless delivery to your doorstep with exciting
              offers!
            </p>
            <div class="card-text p-2">
              <p>
                Get a FREE Mcaloo Tikki Burger or Chicken Kebab Burger on orders
                above Rs. 299. Use code - B299
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col mx-3">
        <div
          class="card border rounded-2 d-flex flex-row justify-content-around"
        >
          <img
            id="img_1"
            src="../../assets/images/On_The_Go.png"
            class="card-img-top m-5"
            style="height: 70px; width: 96px"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title fw-bolder" id="title_1">On The Go</h5>
            <p class="card-text h4 fw-light">
              Delivered to your car at a pick-up point on your way
            </p>
            <div class="card-text p-2">
              <p>
                Get a McAloo Tikki or Masala McEgg free with the code OTG17 on
                orders above Rs.599
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col mx-3">
        <div
          class="card border rounded-2 d-flex flex-row justify-content-around"
        >
          <img
            id="img_1"
            src="../../assets/images/Pick_up.png"
            class="card-img-top m-5"
            style="height: 70px; width: 96px"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title fw-bolder" id="title_1">Takeout</h5>
            <p class="card-text h4 fw-light">
              Order and pick-up from one of our restaurants
            </p>
            <div class="card-text p-2">
              <p></p>
            </div>
          </div>
        </div>
      </div>

      <div class="col mx-3">
        <div
          class="card border rounded-2 d-flex flex-row justify-content-around"
        >
          <img
            id="img_1"
            src="../../assets/images/Dine_In.png"
            class="card-img-top m-5"
            style="height: 70px; width: 96px"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title fw-bolder" id="title_1">Dine In</h5>
            <p class="card-text h4 fw-light">
              Order online and dine in the restaurant
            </p>
            <div class="card-text p-2">
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
